.page {
    background-color: #292b2f;
    color: #fff;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    cursor: pointer;
}

.container-normal {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.container-hacker {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.btn-red {
    background-color: #F84F31;
    color: #fff;

}

.btn-green {
    background-color: #23C552;
    color: #fff;
}

.btn-blue {
    background-color: #7289da;
    color: #fff
}

.wrapper {
    width: 150%;
    scale: 80%;
    margin-left: -15%;
}

.responsive-normal {
    scale: 60%;
}

.responsive-hacker {
    margin-top: -30%;
    margin-bottom: -30%;
    scale: 50%;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        padding: 10px 20px;
        font-size: 16px;
    }

    .responsive-normal {
        scale: 100%;
        padding: 200px 30px 200px 30px;
    }

    .responsive-hacker {
        scale: 100%;
        padding: 100px 30px 100px 30px;
        margin: 0%
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        font-size: 14px;
        scale: 150%;
        margin-left: 40%;
    }

    .responsive-normal {
        scale: 100%;
        padding: 60px 30px 70px 30px;
    }

    .responsive-hacker {
        scale: 70%;
        margin-top: -10%;
        margin-bottom: -10%;
    }
}