.page{
    background-color: #292b2f;
    color: #fff;
}
.square {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    cursor: pointer;
}

.container-normal {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}
.container-hacker {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 10px;
}

.center{
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.btn-red{
    background-color: #F84F31;
    color: #fff;
    
}

.btn-green{
    background-color: #23C552;
    color: #fff;
}

.wrapper {
    width: 150%;
    scale: 80%;
    margin-left: -15%;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        padding-top: 10px;
        width: 100%;
        scale: 150%;
        margin-left: 25%;
    }
}